/*STYLE OF GIFT PAGE : WRITTEN BY VALENTINA. SOME ELEMENTS WERE TAKEN FROM style_index.css AND FROM style_products.css*/

:root{
    --pink:#e843d2;
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-decoration: none;

}

html{
    font-size: 52.5% ;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*HERE STARTS LOGO + NAVIGATION MENU*/
header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background: #eee;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5 rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}
header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5 rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, .3);
    display: none;
}
/*HERE ENDS LOGO + NAVIGATION MENU*/



/*HERE STARTS THE GIFTS CARD PAGE */
#products_h1 {
    margin-top: 60px;
    padding:100px;
    justify-content: center;
    font-size: 50px;
    font-family: Copperplate Gothic Light;
    text-align: center;
}

.products_page_div {
    overflow: auto;
    height: 620px;
}

#gift_h1 {
    margin-top: 100px;
    padding:100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: Copperplate Gothic Light;
}

/*THE CARDS LIST*/

.products_h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
}


/*THE CARDS*/

.giftcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 310px;
  height: 302px;
  margin: 7px;
  text-align: center;
  display: inline-block;
}

.products_h4 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
}

.price {
  color: grey;
  font-size: 25px;
}

.prod_desc {
    margin-bottom: 10px;
    margin-top: 3px;
}

.products_page_btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: #DAF7A6   ;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

#products_page_btn:hover {
  opacity: 0.7;
}
.footer {
    background-color: #0f0f0f;
    text-align: center;
    padding: 10px;
  }